@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    margin: 0px;
    background-color: #F6F6F6;
}

/*Navigation*/
.navigation {
    position: fixed;

    top: 0px;
    width: 100%;

    background-color: #E1E1E1;
}

.navigation ul {
    display: grid;
    grid-template-columns: auto auto auto auto;

    margin: 0px;
    padding: 0px;

    list-style: none;
    text-align: center;
    
}

/*Wrapper*/
.wrapper {
    width: 500px;

    margin: auto;
    margin-top: 20%;

    padding: 1%;
    background-color: #ffffff;

    border-radius: 10%;
}

.wrapper .title {
    text-align: center;
}

.wrapper .content ul {
    padding: 5%;
}

.wrapper .content li {
    list-style: none;


    margin: 3%;
}

.wrapper .content input:checked + label {
    color: gray;
    text-decoration: line-through;
}