@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
}

body {
    margin: 0px;
    background-color: #FBFBFD;

    color: #333333;

    text-align: center;
}

ul {
    padding: 0px;
}

h1 {
    font-size: 3rem;
}

/*Navigation*/
.navigation {
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0px;
    padding-top: 1%;
    padding-bottom: 1%; 

    background-color: #333333;
}

.navigation ul {
    list-style: none;
    text-align: center;

    display: grid;
    grid-template-columns: auto auto auto;

    margin: 0px;
    align-items: center;
}

.navigation li {
    text-align: center;
}

.navigation a {
    color: #FBFBFD;
    text-decoration: none;
}

.navigation #logo {
    font-size: 1.5rem;
    margin: 0px;
}

.navigator a:hover {
    font-weight: bold;
    color: #ffffff;
    cursor: pointer;
}

/*Main*/
.main {
    position: relative;
    z-index: 1;
    width: 600px;
    margin: auto;
    margin-top: 3%;

    text-align: center;

    background-color: #F6F6F6;
    border-radius: 10%;

    padding: 1%;
}

.main p {
    width: 70%;
    margin: auto;

    border-bottom: 0.1rem solid #86868B;
}

.main .title {
    color: #1D1D1F;
}

.main .content .to-do-list {
    width: 70%;
    margin: auto;
    padding: 3%;

    list-style: none;
    text-align: left;
}

.main .content li {
    border-bottom: 0.1rem solid rgba(0,0,0,0.1);
    padding: 2%;
}

.main .content li input[type="checkbox"]  {
    display: none;
}

.main .content li input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.main .content li input[type="checkbox"] + label:before {
    content: ' ';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
    margin: -2px 8px 0 0;
    text-align: center;
    vertical-align: middle;
    background: transparent;
    border: 0.15rem solid rgba(51,51,51,0.5);
    border-radius: 2%;
}

.main .content li input[type="checkbox"]:checked + label:before {
    content: '\2714';
    color:gray;
    border: 0.15rem solid rgba(51,51,51,0.2);
}

.main .content li input[type="checkbox"]:checked + label {
    text-decoration: line-through;
    color: gray;
}

.main .content li .remove {
    font-size: 1rem;
    float: right;
    display: none;
    color: gray;
    cursor: pointer;
}

.main .content li:hover .remove {
    display: inline;
}

.main .content .add-items {
    width: 70%;
    display: grid;
    grid-template-columns: 2rem 5fr 1fr;
    margin: auto;
    border-bottom: 0.1rem solid rgba(0,0,0,0.1);
}

.main .content .add-items span {
    font-size: 1.5rem;
    color: gray;
}

.main .content .add-items input[type="text"] {
    width: 100%;
    font-size: 1rem;
    color: #333333;
    border: none;
    background: transparent;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
}

.main .content .add-items input[type="submit"] {
    border: none;
    background-color: transparent;
    color: gray;
    padding: 0px;
    font-size: 1rem;
}

.main .content .add-items input:focus {
    outline: none;
}

/* Today */
.component {
    margin-top: 10%;
    margin-bottom: 15%;    
}

/* Weekly */

/* Prefernece */

.preference .general {
    width: 70%;
    margin: auto;
}

.preference .main .content li {
    border-bottom: none;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #333333;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #333333;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 17px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .preference ul {
    list-style: none;
  }

  .preference .text {
    vertical-align: middle;
    margin-right: 1%;
}

.preference label {
   vertical-align: middle;
}

/* Footer */
footer {
    font-size: 0.8rem;
    padding: 1%;
    background-color: #F2F2F2;
}

/*Responsive*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    h1 {
        font-size: 2.8rem;
    }

    .component {
        margin-top: 15%;
        margin-bottom: 20%;    
    }
}
@media screen and (max-width: 767px) {
    html {
        font-size: 14px;
    }

    h1 {
        font-size: 2.2rem;
    }

    .main {
        width: 80%;
    }

    .component {
        margin-top: 20%;
        margin-bottom: 25%;    
    }
}